.siteNote{
    box-shadow: rgba(80, 80, 80, 0.56) 0px 3px 5px;
    background: #ffdfa5 !important;
    position: absolute !important;
    z-index: 999999999 !important;
    border-radius: 1px;
    border: none !important;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.siteNote .siteNote-header{
    cursor: move;
    border-bottom: 1px solid #8080801c;
}

.siteNote > iframe{
    border: none !important;
    background: transparent !important;
    width: 100%;
    height: 100%;
}


.note-content textarea{
    resize: none;
    background: transparent;
    width: 90%;
    border: none;
}

.note-content textarea:focus{
    background: white;
    border: 1px solid gray;
}


.moveable-control-box{
    display: none !important;
}

.moveable-control-box.show{
    display: block !important;
}

.siteNote-header{
    display: grid;
    grid-template-columns: 0.2fr 2fr;
}

.note-headerText{
    line-height: 30px;
}

.note-logo{
    border-radius: 50%;
    background: black;
    width: 17px;
    height: 17px;
    position: relative;
    top: 7px;
    left: 5px;
}

.note-sublogo{
    border-radius: 50%;
    background: white;
    width: 13px;
    height: 13px;
    position: relative;
    left: 2px;
    top: 2px;
}