.siteNote{
    box-shadow: rgba(80, 80, 80, 0.56) 0px 3px 5px !important;
    background: #ffdfa5 !important;
    position: absolute !important;
    z-index: 999999999 !important;
    border-radius: 1px !important;
    border: none !important;
    display: grid !important;
    grid-template-rows: 30px 1fr !important;
    direction: ltr !important;
}

.siteNote .siteNote-header{
    cursor: move !important;
    border-bottom: 1px solid #8080801c;
    background: #ffd78f !important;
    font-size: 12px !important;
    font-family: arial !important;
}

.siteNote > iframe{
    border: none !important;
    background: transparent !important;
    width: 100% !important;
    height: 100% !important;
}

.moveable-control-box{
    display: none !important;
}

.moveable-control-box.show{
    display: block !important;
}

.siteNote-header{
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    text-align: left !important;
}

.note-headerText{
    line-height: 33px;
}

.note-logo{
    border-radius: 50%;
    background: black;
    width: 17px;
    height: 17px;
    position: relative;
    top: 7px;
    left: 5px;
}

.note-sublogo{
    border-radius: 50%;
    background: white;
    width: 13px;
    height: 13px;
    position: relative;
    left: 2px;
    top: 2px;
}